.DS_Store
.classpath
.project
.idea
.gradle
local.properties
app/build/
build
.settings/
bin/
gen/
proguard-project.txt
project.properties
used_material.txt
lint.xml
app/keystore/fuelmeup-release.keystore
