<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fuelmeup">

    <application android:name=".App">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCPZxEiD4sr8xuyTrOYLH-wR4iggUBAfR8" />
    </application>
</manifest>